.b_board{
    width:40px;
    height:40px;
    border:2px solid;
    background:white;
    color:black;
    line-height:40px;
    text-align:center;
    display:inline-block;

}

.b_board:active{
    background:rgb(173, 173, 173);
}
.w_board{
    width:84px;
    height:40px;
    border:2px solid;
    background:white;
    color:black;
    line-height:40px;
    text-align:center;
    display:inline-block;

}
.showDock{
    text-align: right
}
.w_board:active{
    background:rgb(173, 173, 173);
}